[Unit]
Description=IPTV Middleware - Run ffmpeg purge every 5 minutes

[Timer]
OnBootSec=120
OnUnitActiveSec=300
AccuracySec=10

[Install]
WantedBy=timers.target
